<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
Login Page
<form action="/onlineClass/login" method="post" name="loginForm">
  <label for="userName">Username:</label>
  <input id="userName" type="text" name="userName" placeholder="userName" required />
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" placeholder="password" required />

  <button type="submit" value="login">Login</button>
</form>
</body>
</html>
